@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

:root{
    --font: 'SF Pro Display', sans-serif;
    --main: #dbc4f0;
    --bg: #faf3f0;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
    background-color: var(--bg);
}

/* navbar */

nav{
    height: 10vh;
    display: flex;
    align-items: center;
}
nav ul {
    list-style: none;
}

nav ul li{
    display: inline;
    padding: 0 10px;
    font-size: 18px;
}

nav ul a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    
}

nav ul .act:hover{
    border-bottom: 2px solid black;
}


.cat-com{
    display: flex;
    justify-content: center;
    align-items: center;
}
.plus{
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.plus input{
    font-size: 34px;
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--main);
    border: none;
    cursor: pointer;
    color: white;
}

form{
    margin-left: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;   
}

form input[type="text"]{
    height: 30px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    font-size: 18px;
    background-color: transparent;
}



/* activity */

.activity{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10vh;
}

.title{
    background-color: var(--main);
    border-radius: 10px;
    padding: 0 50px;
    box-shadow: 5px 10px 20px rgba(0,0,0,.3);
}

.activity-list{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 0 50px;
    padding-bottom: 50px;
    
}
.activity-list ul{
    list-style: none;
    padding-left: 0;
    width: 80%;
}

.activity-list ul li{
    padding-top: 20px;
    font-size: 20px;
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.activity-list li i{
    cursor: pointer;

}

.activity-list li i:hover{
    color: rgba(255, 0, 0, 0.8);
}


.hr-act{
    border: none;
    height: 2px;
    background-color: var(--main);
    margin-top: 5px;
}



.new-act{
    margin-top: 2vh;
}

.new-act input[type="submit"]{
    border: none;
    background-color: var(--main);
    font-size: 18px;
    padding: 7px 15px;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 10px;
}
.new-act form{
    margin: 0;
}

.new-act input[type="text"]{
    border-bottom: 1px solid var(--main);

}
.new-act input[type="text"]:focus{
    border-bottom: 2px solid var(--main)
}